* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    line-height: unset !important;
}

img {
    vertical-align: top !important;
}

nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    background-color: #081221;
    padding: 20px;
}

nav a {
    color: white !important;
    text-decoration: none !important;
    font-size: 25px;
    padding-right: 16px;
}

nav a:hover {
    opacity: 0.8;
}

.topAndBottom {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: min-content;
    gap: 2rem;
    margin: 40px;
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    margin: 4rem;
}

.box1 {
    border: 1px solid black;
}

.wbox2,
.wbox3,
.wbox4 {
    border: 1px solid black;
}

.wbox1 img,
.wbox2,
.wbox3 {
    margin-right: 2rem;
    height: 260px;
    width: 220px;
}

.wbox4 {
    margin-left: 3rem;
    height: 260px;
    width: 220px;
}

.crop {
    height: 320px;
    width: 750px;
}

.adjust {
    height: 350px;
    width: 750px;
}

.sizing {
    height: 280px;
    width: 550px;
}

.movies {
    color: sandybrown;
    font-weight: bold;
    font-size: 1.75rem;
}

.daytable {
    color: sandybrown;
    margin: 3rem;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.topAndBottom .box1 img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.box2 {
    border: 1px solid black;
}

.box2 a,
.box1 a {
    color: sandybrown;
}

.box2 a:hover,
.box1 a:hover {
    color: blue;
}

.box1 p,
.box2 p,
.wbox2 p,
.wbox4 p {
    color: sandybrown;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
}

.wtext {
    font-style: italic;
    font-weight: bold;
    color: sandybrown;
    font-size: 20px;
    text-align: center;
    margin: 2.5rem;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: min-content;
    gap: 2rem;
    margin: 40px;
}

.middle .box2 img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    margin: 4rem;
    gap: 0.5rem;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.img-resize {
    width: 500px;
    height: 250px;
}

.container .left img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

input,
select {
    padding: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
}

form input::placeholder {
    padding-left: 10px;
}

.button-container {
    display: block;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: #41479D;
    color: white;
    padding: 0.75rem 0.5rem;
    width: fit-content;
    border-radius: 3px;
    float: right;
}

footer {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer .images {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

footer .copyright {
    padding: 25px;
}

.carousel .item {
    height: 400px;
    background-color: #777;
    margin-top: 0px;

}

.carousel-inner>.item>img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}